FLASK_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/deepguard
JWT_SECRET_KEY=super-secret-change-me
MODEL_WEIGHTS_URL=https://huggingface.co/aaronespasa/deepfake-efficientnet/resolve/main/efficientnet_b0_deepfake.pt
MODEL_WEIGHTS_PATH=./models/efficientnet_b0_deepfake.pt
FRONTEND_ORIGIN=http://localhost:5173
